
/* RESET ALL GLOBAL STYLES */
* { border:0; font-family:Arial,Helvetica,Sans-Serif; margin:0; padding:0; }
html,body { background:#f6f5f1; height:100%; overflow-x:hidden; width:100%; }
/* DEFINE DEFAULT FONT STYLES */
h1 { color:#666; float:left; font-size:20px; line-height:20px; text-transform:uppercase; width:100%; }
h2,h3 { color:#888; float:left; font-size:13px; line-height:20px; text-transform:uppercase; width:100%; }
h4 { color:#AAA; float:left; font-size:12px; line-height:20px; margin-bottom:15px; width:100%; }
p { color:#666; float:left; font-size:12px; line-height:20px; padding-top:10px; text-align:justify; width:100%; }

/* STYLE THE MAIN HEADER */
.m-header { background:#374348; border-bottom:1px solid #1b2124; height:70px; left:0; line-height:70px; padding:0 3%; position:fixed; right:0; top:0; width:94%; z-index:1000;
box-shadow:0 -1px 0 #3e4b51 inset, 0 0 15px #384348 inset; }
.m-logo { background:url("../images/m.logo.png") center center no-repeat; float:left; height:67px; margin:1.5px 0; position:relative; width:158px; }
.m-nav-btn { background:url("../images/m.nav.png") 15px center no-repeat #3AA1BE; color:#FFF; float:right; font-size:12px; font-weight:bold; height:40px; margin:15px 0; padding:0 15px 0 45px; position:relative; text-align:right; width:auto; z-index:1200; }
.m-nav-btn-open { background-color:rgba(0,0,0,0.5); }

/* STYLE THE SIDEBAR NAVIGATION MENU */
.m-nav-swiper { background:transparent; height:100%; position:absolute; right:0; top:0; width:20%; z-index:800; }
.m-nav { background:#222; display:none; height:100%; list-style:none; overflow-y:scroll; position:fixed; right:0; width:80%; z-index:900; }
.m-nav-number { background:#89b444; color:#FFF; float:left; font-size:24px; font-weight:bold; height:50px; line-height:50px; margin:100px 6% 30px 6%; position:relative; text-align:center; width:88%; }
.m-nav-number:hover,.m-nav-number:active { background:#374348; }
.m-nav-links { border-top:1px solid rgba(255,255,255,0.05); float:left; height:auto; padding:0 0 70px 0; position:relative; width:100%; }
.m-nav a li { border-bottom:1px solid rgba(255,255,255,0.05); color:#FFF; float:left; font-size:16px; height:50px; line-height:50px; padding:0 6%; width:88%; }
.m-nav a li:hover,.m-nav a li:active { background:rgba(255,255,255,0.05); }

/* FULLSCREEN SLIDER IMAGES */
.m-slider { float:left; height:auto; left:0; margin:70px 0 0 -1px; position:relative; right:0; width:101%; z-index:0; }

.m-content { float:left; height:auto; padding:30px 3%; position:relative; width:94%; }
.m-error-container { height:auto; }
.m-error { background:#f5e5a4; border:1px solid #dbb620; color:#666; float:left; font-size:12px; height:auto; line-height:20px; margin-top:70px; padding:15px 3%; width:94%; }

.m-testimonials { background:url("../images/m.stripes.png") #3AA1BE; border-bottom:1px solid #245f70; border-top:1px solid #245f70; }
.m-testimonial-header { margin:-20px 0 0 60px; }
.m-testimonials h2,.m-testimonials p { color:#FFF; }
.m-quotes { background:url("../images/m.quotes.png") center center no-repeat; float:left; height:31px; margin-right:15px; position:relative; width:41px; }
.m-about,.m-contact,.m-sale,.m-blog,.m-gallery { margin-top:70px; }
.m-map { border-bottom:1px solid #CCC; border-top:1px solid #CCC; float:left; height:auto; overflow:hidden; position:relative; width:100%; }
.m-map-image { float:left; height:auto; position:relative; width:100%; }

.m-thumbnails { background:#EEE; border-bottom:1px solid #CCC; overflow:hidden; width:200%; }
.m-slides { float:left; height:auto; margin-right:1%; position:relative; width:auto; }
.m-slides:last-child { margin:0; }
.m-slides .m-home-thumb { background:#333; float:left; height:auto; margin-right:3%; width:48.5%; }
.m-slides .m-home-thumb:last-child { margin:0; }
.m-thumb img { height:auto; min-height:100%; width:100%; }
.m-home-thumb-control { display:block; height:100%; position:absolute; top:0; width:8%; z-index:500; }
.m-slide-left { background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(transparent), to(#EEE)); left:50%; margin-left:-4%; }
.m-slide-right { background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#EEE), to(transparent)); margin-right:1%; right:50%; }

.m-slide-right-icon { background:url("../images/m.thumb-left.png") center center no-repeat; float:left; height:100%; position:relative; width:100%; }
.m-slide-left-icon { background:url("../images/m.thumb-right.png") center center no-repeat; float:left; height:100%; position:relative; width:100%; }

.m-button-large { background:#c55e41; color:#FFF; float:left; font-size:24px; font-weight:bold; height:60px; 
line-height:60px; margin:30px 0; overflow:hidden; text-align:center; text-transform:uppercase; width:100%; }
.m-button-large-green { background:#89b444; color:#FFF; float:left; font-size:24px; font-weight:bold; height:60px; 
line-height:60px; margin:30px 0 0 0; overflow:hidden; text-align:center; text-transform:uppercase; width:100%; }
.m-button-large:hover,.m-button-large:active,.m-button-large-green:hover,.m-button-large-green:active { background-color:#374348; }
.m-footer-button { background:rgba(0,0,0,0.25); color:#FFF; float:left; font-size:24px; font-weight:bold; height:60px; 
line-height:60px; margin:20px 0 0 0; overflow:hidden; text-align:center; text-transform:uppercase; width:100%; }

.m-boat { border-bottom:1px solid transparent; border-top:1px solid transparent; }
.m-boat:hover,.m-boat:active { background:#E5E5E5; border-bottom:1px solid #CCC; border-top:1px solid #CCC; }
.m-boat-list { float:left; height:auto; margin-top:70px; padding-bottom:0; position:relative; width:100%; }
.m-boat-thumb { background:#333; float:left; margin-bottom:30px; overflow:hidden; width:100%%; }
.m-boat-thumb img { height:auto; min-height:100%; width:100%; }
.m-boat-info { float:left; height:auto; position:relative; width:100%; }

.m-features-list,.m-custom-tabs,.m-about-tabs,.m-sale-tabs,.m-blog-tabs { float:left; height:auto; list-style:none; margin:30px 0 0 0; width:100%; }
.feature-tab,.custom-tab,.about-tab,.sale-tab,.blog-tab { background:#EEE; clear:both; color:#666; float:left; font-size:12px; height:50px; line-height:50px; margin-bottom:5px; padding:0 3%; text-transform:capitalize; width:94%; }
.feature-tab:last-child,.custom-tab:last-child,.about-tab:last-child,.sale-tab:last-child,.blog-tab:last-child { margin-bottom:0; }
.open-tab { background:#3AA1BE; color:#FFF; }

.m-feature-content,.m-custom-content { background:transparent; display:none; float:left; height:auto; margin-bottom:5px; padding:0 0 10px 0; width:100%; }
.m-feature-content img,.m-custom-content img { float:left; height:auto; margin-bottom:30px; width:100%; }

.content-info,.m-about-content { float:left; height:auto; margin-top:30px; position:relative; width:100%; }
.content-info img,.m-about-content img,.m-about-content p img { float:left; height:auto; margin-bottom:30px; position:relative; width:100%; }
.content-info h2 { margin-top:30px; }
.m-about-content p { clear:both; float:left; height:auto; margin-bottom:30px; position:relative; width:100%; }

.m-contact h1 { margin-bottom:30px; }
.m-contact-span { float:left; height:auto; position:relative; width:100%; }
.m-contact-span p,.m-contact-span h2 { margin:0; padding:0; }
.m-contact-span p a,.blog-post p a { color:#3AA1BE; text-decoration:underline; }

.sale-content,.blog-content { display:none; float:left; height:auto; margin-bottom:30px; position:relative; width:100%; }
.sale-content h2 { margin-top:15px; }
.sale-content img { float:left; height:auto; margin:10px 0 0 0; position:relative; width:100%; }
.sale-content ul { float:left; height:auto; list-style:square; position:relative; width:100%; }
.sale-content ul li { border-bottom:1px solid #CCC; color:#666; float:left; font-size:12px; height:auto; line-height:20px; padding:15px 3%; width:94%; }
.sale-content ul li:last-child { border-bottom:3px solid #CCC; }

.blog-post { float:left; height:auto; padding:30px 0; position:relative; width:100%; }
.blog-post img { float:left; height:auto; margin:15px 0; position:relative; width:100%; }

.blog-header { float:left; margin:0 0 0 60px; position:absolute; top:40px; width:auto; }
.fb-like { float:left; left:0; position:absolute; }

.m-gallery img { float:left; height:auto; margin-top:30px; position:relative; width:100%; }

.m-footer { background:#374348; border-top:1px solid #1b2124; color:#FFF; float:left; font-size:12px; height:auto; line-height:20px; margin:0; padding:25px 3%; position:relative; width:94%;
box-shadow:0 1px 0 #3e4b51 inset, 0 0 -15px #384348 inset; }